@import url('https://fonts.googleapis.com/css?family=Raleway|Spectral');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 20px; /*1em = 20px*/
	color: #222222;
	line-height: 1.3;
	background-color: #D4BECB;
}

header {
	background-color: lightblue;
	padding: 20px;
	font-family: 'Spectral', serif;
	font-size: 3em;
}

nav {
	background-color: #E8C66A;
	padding: 20px;
	font-size: .4em;
	padding-top: 10px;
	text-align: center;
}

nav a {
	border-right: 1px solid black;
	padding-right: 5px;
}
nav a:last-child {
	border: none;
}

h1 {
	color: #ffffff;
	padding: 10px;
}

img {
	width: 100%;

}

main {
	padding: 20px;
}

h3 {
	margin: 20px 0;
}

ul {
	padding-left: 20px;
}

aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
	margin-left: 20px;
}

h2 {
	margin-left: 8px;
	font-style: italic;
}

h5 {
	font-style: bold;
	padding: 30px;
	font-size: 1.5em;
}

.reviews {
	font-style: italic;
}

p {
	font-size: 1em;
	line-height: 1.5em;
}

.willies {
	width: 100%;
	margin: 2em auto;
	padding: 0px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
}

h4 {
	padding: 3px;
}

#wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
}

div {
	background-color: #D4BECB;
	padding: 20px;
}

#two_column {
	background-color: #FF957E;
	padding: 20px;
}

#left {
	background-color: #4A7D7C;
	padding: 20px; 
	float: left;
	width: 30%;
	border: none;
}

#right {
	background-color: #4A7D7C;
	padding: 20px;
	float: right; 
	width: 62%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both; 
	height: 0;
}

@media only screen and (max-width: 600px) {
	nav a {
		display: block;
		width: 100%;
		text-align: center;
		border: none;
	}

}

@media only screen and (max-width: 780px) and (min-width: 320px) {
	#left {
		display :block;
		width: 55%;
		text-align: left;
		border: none;
		float: none;
		font-size: .75em;
	}
}

@media only screen and (max-width: 780px) {
	#right {
		display :block;
		width: 100%;
		text-align: left;
		border: none;
	}
}

@media only screen and (max-width: 780px) {
	h1 {
		font-size: 1.5em;
	}
}